        .team-top {
    background: #00b6e3;
    height: 94px;
}

.team-bottom {
    padding: 4em 0 2em;
}

.team-bottom h4 {
    text-align: center;
    color: #08538c;
    font-size: 27px;
    font-family: initial;
}

.team-bottom p {
    margin: 14px 22px 19px;
    color: #464646;
    font-size: 15px;
    text-align: center;
}

.fb_icon3, .fb_icon2, .fb_icon1 {
    padding: 0.7em 0;
    color: #fff;
    font-size: 14px;
    background: #00b6e3;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
}

.team-left {
    position: relative;
}
.team-left {
    border: 1px solid #ccc;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.t-img img {
    width: 23%;
    position: absolute;
    left: 37%;
    top: 11%;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -o-border-radius: 100%;
    -ms-border-radius: 100%;
    border: 3px solid #FFFFFF;
    -webkit-border: 3px solid #FFFFFF;
    -moz-border: 3px solid #FFFFFF;
    -o-border: 3px solid #FFFFFF;
    -ms-border: 3px solid #FFFFFF;
}

li:hover > a, .skin-blue .sidebar-menu > li.active > a, .skin-blue .sidebar-menu > li.menu-open > a {
    color: #fff;
}

.team-bottom ul li {
    display: inline-block;
    margin: 0 12px 0 0;
}

.team-bottom ul {
    text-align: center;
}